@model IEnumerable<Coupon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6 text-info">
            <h2>
                Coupons
            </h2>
        </div>

        <div class="col-6  text-right text-light">
            <partial name="_CreateNewPartial" action="Create" />
        </div>
    </div>
    <br />
    <div class="border">
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col">
                            @Html.DisplayNameFor(x => x.Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(x => x.Discount)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(x => x.IsActive)
                        </th>

                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var coupon in Model)
                    {
                        <tr>


                            <td>@coupon.Name</td>
                            <td>@coupon.Discount</td>
                            @if (coupon.IsActive)
                            {

                            <td>yes</td>
                            }else { <td> no</td>}
                            <td>

                                <partial name="_TableButtonsPartial" model="coupon.Id" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>No coupon found</p>
        }
    </div>
</div>